.rrss{
    display: flex;
    list-style: none;
    text-decoration: none;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.Facebook{
    background-color:rgba(59, 89, 152,0.8) ;
    border-radius: 20px;
    color: white;
    padding: 8px;
    text-decoration: none;
    margin: 10px;
    box-shadow: 5px 5px 8px grey;
}
.Twitter{
    background-color:rgba(0, 172, 238,0.8) ;
    border-radius: 20px;
    color: white;
    padding: 8px;
    text-decoration: none;
    margin: 10px;
    box-shadow: 5px 5px 8px grey;
}
.Instagram{
    background-color:rgba(221, 41, 123,0.8) ;
    border-radius: 20px;
    color: white;
    padding: 8px;
    text-decoration: none;
    margin: 10px;
    box-shadow: 5px 5px 8px grey;
}
.WhatsApp{
    background-color:rgba(0, 187, 45, 0.8) ;
    border-radius: 20px;
    color: white;
    padding: 8px;
    text-decoration: none;
    margin:10px;
    box-shadow: 5px 5px 8px grey;
}