$facebookColor: #3b5998cc;
$twitterColor: #00aceecc;
$instagramColor: #dd297bcc;
$WhatsappColor: #00bb2dcc;
$BotonRrss: 20px;
$textoRrss: #fff;
$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$Distance: 15px;
$Backgroundeee: #eee;
$textGray: #474b4e;
$rrssMobileSize: 30px;
$fontsize: 25px;
