$facebookColor :rgba(59, 89, 152,0.8);
$twitterColor :rgba(0, 172, 238,0.8);
$instagramColor :rgba(221, 41, 123,0.8) ;
$WhatsappColor:rgba(0, 187, 45, 0.8) ;
$BotonRrss:20px;
$textoRrss:#fff;
$lg: 992px;
$sm:991px;